<header>
    <h1>HockeyManager Table</h1>
</header>
<div class="request-buttons">
    <button id="refreshData">Get latest Data</button>
</div>
<div class="response-info">

</div>
<div id="filterbox" class="container">
    <div class="row">
        <div class="col-2">
            <label>Position:</label>
            <fieldset>
                <label for="posAll">All</label>
                <input type="radio" class="position-filter" id="posAll" name="position" value="" checked>            
                <label for="posForward">F</label>
                <input type="radio" class="position-filter" id="posForward" name="position" value="F">
                <label for="posForward">D</label>
                <input type="radio" class="position-filter" id="posDefense" name="position" value="D">
                <label for="posGoal">G</label>
                <input type="radio" class="position-filter" id="posGoal" name="position" value="G">
            </fieldset>            
        </div>
        <div class="col-2">
            <label>Team</label>
            <select name="team">
                <option value="" selected>Filter Team</option>
                <option value="amrbi">Ambri</option>
                <option value="bern">Bern</option>
                <option value="bienne">Biel</option>
                <option value="davos">Davos</option>
                <option value="fribourg">Fribourg</option>
                <option value="servette">Genf</option>
                <option value="langnau">Langnau</option>
                <option value="lausanne">Lausanne</option>
                <option value="lugano">Lugano</option>
                <option value="rapperswil">Rapperswil</option>
                <option value="zug">Zug</option>
                <option value="zsc">Zürich</option>
            </select>
        </div>
        <div class="col-2">
            <label>Spieler</label>
            <input type="text" id="playerName" name="Spielername" placeholder="Spielername">
        </div>
        <div class="col-2">
            <label>Price</label>
            <input type="number" class="min-max-input" id="priceMin" name="Price Min" step="0.5" placeholder="Price: Min">
            <input type="number" class="min-max-input" id="priceMax" name="Price Max" step="0.5" placeholder="Price: Max">
        </div>
        <div class="col-2">
            <label>Points</label>
            <input type="number" class="min-max-input" id="ptsMin" name="Points Min" step="1" placeholder="Points: Min">
            <input type="number" class="min-max-input" id="ptsMax" name="Points Max" step="1" placeholder="Points: Max">
        </div>
        <div class="col-2">
            <label>Points per Game</label>
            <input type="number" class="min-max-input" id="pgpMin" name="P/GP Min" step="0.1" placeholder="Points: Min">
            <input type="number" class="min-max-input" id="pgpMax" name="P/GP Max" step="0.1" placeholder="Points: Max">
        </div>
    </div>    
</div>