body {
    /* background: linear-gradient(to bottom right, #4B949A, #5D3784);   */
    background: #4B949A;
    color: #FFF;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 30px;
}

h1 {
    margin-bottom: 40px;
    text-align: center;
}

table{
    background: rgba(255, 255, 255, 0.2);
    width: 100%;
}

th {
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    text-align: left;
    padding: 15px 0;
}

th, td {
    border-bottom: none;
    padding: 5px 10px;
    text-align: center;
}

th:first-of-type,
td:first-of-type {
    text-align: left;
}

tr:nth-of-type(2n) {
    background: rgba(50, 50, 50, 0.1)!important;
}

i {
    margin: 0 auto;
}

/* Spalten */

.id, .Spieler, .Team, .R, .Pos, .GP {
    display: none;
}

.sprite {
    background-image: url('../img/team-logos.png');
    background-repeat: no-repeat;
    display: block;
}

.sprite-ambri {
    width: 32px;
    height: 32px;
    background-position: -5px -5px;
}

.sprite-bern {
    width: 32px;
    height: 32px;
    background-position: -47px -5px;
}

.sprite-bienne {
    width: 32px;
    height: 32px;
    background-position: -89px -5px;
}

.sprite-davos {
    width: 32px;
    height: 32px;
    background-position: -5px -47px;
}

.sprite-fribourg {
    width: 32px;
    height: 32px;
    background-position: -47px -47px;
}

.sprite-langnau {
    width: 32px;
    height: 32px;
    background-position: -89px -47px;
}

.sprite-lausanne {
    width: 32px;
    height: 32px;
    background-position: -5px -89px;
}

.sprite-lugano {
    width: 32px;
    height: 32px;
    background-position: -47px -89px;
}

.sprite-rapperswil {
    width: 32px;
    height: 32px;
    background-position: -89px -89px;
}

.sprite-servette {
    width: 32px;
    height: 32px;
    background-position: -131px -5px;
}

.sprite-zsc {
    width: 32px;
    height: 32px;
    background-position: -131px -47px;
}

.sprite-zug {
    width: 32px;
    height: 32px;
    background-position: -131px -89px;
}

/* DataTables */

table.dataTable tbody tr {
    background-color: initial;
}

table.dataTable thead th, 
table.dataTable thead td, 
table.dataTable.no-footer {
    border-bottom: none;
}

.dataTables_wrapper .dataTables_filter {
    display: none;
}

.dataTables_wrapper .dataTables_info {
    color: #FFF;
    float: none;
    margin-bottom: 20px;
    text-align: center;
}

td.details-control {
    background: url('../img/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.details td.details-control {
    background: url('../img/details_close.png') no-repeat center center;
}

/* Footer */

.credits {
    text-align: center;
}

.credits i {
    color: #FFF;
    font-size: 32px;
}
