<!DOCTYPE html>
<html>
<head>
<% include template/head.ejs %>
</head>
<body>
    <% include template/header.ejs %>
	<main>
        <%- table %>
	</main>	
    <% include template/footer.ejs %>
</body>
</html>